<p>
<h1><strong>Markets</strong></h1>
</p>
<p>
  <section class='markets'>
    <ul>
      <% @markets.each do |market| %>
        <li class="market">
          <p>Name: <%= link_to market.name.strip, market_path(market.id) %></p>
          <p>City: <%= market.city %></p>
          <p>State: <%= market.state %></p>
        </li>
      <% end %>
    </ul>
  </section>
</p>