<h1><%= @market["data"]["attributes"]["name"] %> Vendors!</h1>
<h3><%= @market["data"]["attributes"]["street"] %>
<h3><%= @market["data"]["attributes"]["city"] %>, <% @market["data"]["attributes"]["state"] %>  <% @market["data"]["attributes"]["zip"]%>
<p>
Vendors at our Market:
</p>
<p>
  <section class='market_vendors'>
    <ul>
      <% @market_vendors["data"].each do |vendor| %>
        <li>
          <p>Name: <%= link_to vendor["attributes"]["name"].strip, market_path(vendor["id"]) %></p>
        </li>
      <%end%>
   </ul>
  </section>
</p>